@tailwind base;
@tailwind components;
@tailwind utilities;



/* GENERAL */
* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color:#000000;
    color: rgb(197, 183, 183);
    
}

li {
    list-style-type: none;
}
.hero-img{
    object-fit: contain;
   
    

}

.img {
    
    border-radius : 30%;
    margin:0;
   
}

